html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    cursor: url("Images/whiteCursor.png"), auto;
}
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
body{
    background-color: rgb(6, 6, 6);
    margin:0;
    padding:0;
    overflow:hidden;
}
div{
    color: black;
}
#circle{
    position:absolute;
    transform:translate(-50%,-50%);
    height:30px;
    width:30px;
    border-radius:50%;
    border:2px solid white;
    z-index: 100;
    pointer-events: none;
}
.site{
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
}
.hidden{
    opacity: 0;
    transition: all 3s;
}
.show{
    opacity: 1;
}

/*top navigation*/
#topNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(6, 6, 6);
    overflow: hidden;
    z-index: 99;
    transition: top 0.4s;
}
.topNavBorder{
    position : absolute;
    width: 75%;
    top: 45px;
    left: 11.5%;
    height: .75px;
    border-bottom: #3b3c36 solid .50px;
}
#topNav a{
    font-family: 'Times New Roman', Times, serif;
    color: #9457eb;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 14px 16px;
    padding-left: 117px;
    font-size: 17px;
    width: 15%;
}
#topNav a:hover, .offcanvas a:focus{
    color: rgb(230, 230, 230);
    font-weight: bold;
    transition: bold 0.4s;
    transition: color 0.4s;
}

#welcomebox{
    align-self: center;
    position: relative;
    height: 750px;
    width: 70%;
    align-items: center;
}
.welcome{
    color: #9457eb;
    font-family: 'Times New Roman', Times, serif;
    font-size: 500%;
    text-align: center; 
    font-weight: bold;
    position: absolute;
    align-self: center;
    top: 250px;
    left: 35%;
}
.shortDef{
    color: rgb(200, 200, 200);
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    position: absolute;
    align-self: center;
    top: 330px;
    left: 32.5%;
}

#aboutbox{
    align-self: center;
    position: relative;
    height: 750px;
    width: 70%;
    top: 50px;
}
#aboutbox .picbox{
    width: 50%;
    height: 40%;
    background-color: grey;
    position: absolute;
    left: 0;
    top: 200px;
}
#aboutbox h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 2;
    position: c;
    right: 0;
    top: 12%;
    font-weight: 300;
    border-bottom: #3b3c36 solid .50px;

}
#aboutbox h2{
    color: rgb(200, 200, 200);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 2;
    text-align: right;
    width: 40%;
    position: absolute;
    right: 0;
    top: 26%;
    font-weight: 300;
}

#call2action{
    align-self: center;
    position: relative;
    height: 950px;
    width: 70%;
    top: 75px;
    padding-top: 100px;
}
#call2action p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    width: 100px;
    
}
#call2action .picbox{
    width: 75%;
    height: 28%;
    background-color: grey;
    position: absolute;
    right: 0;
    top: 147px;
}
.c2a{
    border-bottom: #3b3c36 solid .50px;
    padding: 10px;
    border-radius: 2px;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -20px;
    width: 30;
}
.c2a a{
    color: #2e8b57;
    text-align: center;
    text-decoration: none;
    font-size: 27px;
    transition: 0.4s;
}
.c2a a:hover, .offcanvas a:focus{
    color: #9aca9a;
    /*font-weight: bold;
    transform: translate(0, -2px);*/
}

.dropbtn {
    background-color: transparent;
    color: #2e8b57;
    padding: 16px;
    font-size: 23px;
    border: none;
    cursor: pointer;
    border-bottom: #3b3c36 solid .50px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 0;
    top: -35px;
    width: 30;
    transition-duration: .25s;
}
  
.dropbtn:hover, .dropbtn:focus {
    color: #9aca9a;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.showbtn {
    display:block;
}

.github::before{
    content: "\f09b";
    font-family: "Font Awesome 5 Brands";
    font-size: 30px;
    color: #2e8b57;
    align-self: center;
}

/* Either show all links with icons or use grey box to show links with cool animation*/

#main{
    transition: margin-left .5s;
    padding: 16px;
    position: absolute;
    top: 0;
}
@media screen and (max-height: 450px){
    .sidenav{padding-top: 15px;}
    .sidenav a{font-size: 18px;}
}
